.menu-container{
    width: 100%;
    height: 70px;
    display: flex;
    padding:10px;
    justify-content: space-between;
    align-items: center;
   


    .logo-container{
        img{
            width: 200px;
        }
    }

    .nav-container{
        
       
        
        ul{
            display: flex;
            list-style: none;
            
            li{
                padding:14px;
                cursor: pointer;
                margin-right:2px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                 &:hover{
                    color:blue; 
                 }
                 .fas,.fa-chevron-down{
                     width: 10px;
                     
                     padding:0 3px;
                 }
               }
        }
    }

    .social-container{
        
        .fa-twitter,.fa-facebook-f,.fa-linkedin,.fa-instagram{
            font-size: 20px;
            width: 20px;
            padding:10px;
            color:#696969;
        }
        
    }
   
        
    
    
    
    
}
